<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainLayout</key>
	<dict>
		<key>LoginVCBGImageName</key>
		<string>login_back_img</string>
		<key>AppLogoSmallImageName</key>
		<string></string>
		<key>AppLogoBigImageName</key>
		<string></string>
		<key>isLoginWhenFirstLaunchApp</key>
		<true/>
		<key>isMineCenterNaviHidden</key>
		<false/>
		<key>Style</key>
		<integer>2</integer>
		<key>LoginViewControllerName</key>
		<string>LoginVC</string>
		<key>RegisterViewControllName</key>
		<string></string>
		<key>ForgetPassWordViewControllName</key>
		<string></string>
		<key>TabHome</key>
		<dict>
			<key>TitleArray</key>
			<array>
				<string>首页</string>
				<string>风险分类</string>
				<string>随访档案</string>
				<string>资料中心</string>
				<string>统计报表</string>
				<string>健康教育</string>
				<string>交流平台</string>
				<string>个人中心</string>
			</array>
			<key>NormalImageArray</key>
			<array>
				<string>tabbar0</string>
				<string>tabbar1</string>
				<string>tabbar2</string>
				<string>tabbar3</string>
				<string>tabbar4</string>
				<string>jkjy</string>
				<string>jlpt</string>
				<string>tabbar5</string>
			</array>
			<key>SelectedImageArray</key>
			<array>
				<string>tabbar0_down</string>
				<string>tabbar1_down</string>
				<string>tabbar2_down</string>
				<string>tabbar3_down</string>
				<string>tabbar4_down</string>
				<string>jkjy-xz</string>
				<string>jlpt-xz</string>
				<string>tabbar5_down</string>
			</array>
			<key>VCClassName</key>
			<array>
				<string>RSHomeVC</string>
				<string>RSRiskKindVC</string>
				<string>RSVisitArchiveVC</string>
				<string>RSDataCenterVC</string>
				<string>RSStatisticsReportVC</string>
				<string>RSHEHealthEducationVC</string>
				<string>RSEPExchangePlatformVC</string>
				<string>RSMineVC</string>
			</array>
		</dict>
	</dict>
	<key>SkinTheme</key>
	<dict>
		<key>Default</key>
		<dict>
			<key>Title</key>
			<string>默认主题</string>
			<key>TextColor</key>
			<dict>
				<key>WhiteDivider</key>
				<string>#FFFFFF1F</string>
				<key>WhiteHint</key>
				<string>#FFFFFF4D</string>
				<key>WhiteSecondary</key>
				<string>#FFFFFFB3</string>
				<key>WhiteNormal</key>
				<string>#FFFFFFFF</string>
				<key>BlackDivider</key>
				<string>#0000001F</string>
				<key>BlackHint</key>
				<string>#00000042</string>
				<key>BlackSecondary</key>
				<string>#0000008A</string>
				<key>BlackNormal</key>
				<string>#000000DE</string>
				<key>Black87</key>
				<string>#212121</string>
				<key>TextColorPrimary</key>
				<string>#1a1a1a</string>
				<key>TextColorPrimaryDark</key>
				<string>#303F9F</string>
				<key>TextColorAccent</key>
				<string>#03AEEF</string>
				<key>TextColorSecondary</key>
				<string>#9b9b9b</string>
				<key>TextColorDisable</key>
				<string>#d8d8d8</string>
				<key>TextColorNavigation</key>
				<string>#FFFFFF</string>
				<key>TextColorLoginPrimary</key>
				<string>#D0021B</string>
				<key>TextColorLoginSecondary</key>
				<string>#FFFFFF</string>
				<key>TextColorLoginDisable</key>
				<string>#000000</string>
				<key>TextColorButtonNormal</key>
				<string>#000000</string>
				<key>TextColorButtonHighlight</key>
				<string>#F59C01</string>
				<key>TextColorButtonDisable</key>
				<string>#d8d8d8</string>
				<key>TextColorButtonSelected</key>
				<string>#6EC742</string>
				<key>TextColorTabberNormal</key>
				<string>#9b9b9b</string>
				<key>TextColorTabberSelected</key>
				<string>#1252B9</string>
			</dict>
			<key>BackgroundColor</key>
			<dict>
				<key>MainColor</key>
				<string>#1252B9</string>
				<key>BGColorPrimary</key>
				<string>#F2EEEE</string>
				<key>BGColorSecondary</key>
				<string>#1A1A1A</string>
				<key>BGButtonColorNormal</key>
				<string>#FFFFFF</string>
				<key>BGButtonColorHighlight</key>
				<string>#F7F7F7</string>
				<key>BGButtonColorSelected</key>
				<string>#F7F7F7</string>
				<key>BGButtonColorDisable</key>
				<string>#000000</string>
				<key>BGTextFiledColorLogin</key>
				<string>#000000</string>
			</dict>
			<key>FontSize</key>
			<dict>
				<key>FontSizeNormal</key>
				<string>17</string>
				<key>FontSizeMiddle</key>
				<string>15</string>
				<key>FontSizeSmall</key>
				<string>13</string>
			</dict>
			<key>SpaceSize</key>
			<dict/>
		</dict>
		<key>Night</key>
		<dict>
			<key>title</key>
			<string>夜间主题</string>
			<key>TextColor</key>
			<dict>
				<key>WhiteDivider</key>
				<string>C7C7CD</string>
				<key>WhiteHint</key>
				<string>#FFFFFF4D</string>
				<key>WhiteSecondary</key>
				<string>#FFFFFFB3</string>
				<key>WhiteNormal</key>
				<string>#FFFFFFFF</string>
				<key>BlackDivider</key>
				<string>#0000001F</string>
				<key>BlackHint</key>
				<string>#00000042</string>
				<key>BlackSecondary</key>
				<string>#0000008A</string>
				<key>BlackNormal</key>
				<string>#000000DE</string>
				<key>Black87</key>
				<string>#212121</string>
				<key>TextColorPrimary</key>
				<string>#1a1a1a</string>
				<key>TextColorPrimaryDark</key>
				<string>#303F9F</string>
				<key>TextColorAccent</key>
				<string>#03AEEF</string>
				<key>TextColorSecondary</key>
				<string>8F8E94</string>
				<key>TextColorDisable</key>
				<string>C7C7CD</string>
				<key>TextColorNavigation</key>
				<string>#000000</string>
				<key>TextColorLoginPrimary</key>
				<string>#000000</string>
				<key>TextColorLoginSecondary</key>
				<string>#000000</string>
				<key>TextColorLoginDisable</key>
				<string>#9b9b9b</string>
				<key>BGTextFiledColorLogin</key>
				<string>#a2a2a2</string>
				<key>TextColorButtonNormal</key>
				<string>#000000</string>
				<key>TextColorButtonHighlight</key>
				<string>#000000</string>
				<key>TextColorButtonDisable</key>
				<string>#6EC742</string>
				<key>TextColorButtonSelected</key>
				<string>#6EC742</string>
				<key>TextColorTabberNormal</key>
				<string>#9b9b9b</string>
				<key>TextColorTabberSelected</key>
				<string>#1252B9</string>
			</dict>
			<key>BackgroundColor</key>
			<dict>
				<key>MainColor</key>
				<string>599CE9</string>
				<key>BGColorPrimary</key>
				<string>599CE9</string>
				<key>BGColorSecondary</key>
				<string>#1A1A1A</string>
				<key>BGButtonColorNormal</key>
				<string>599CE9</string>
				<key>BGButtonColorHighlight</key>
				<string>#F7F7F7</string>
				<key>BGButtonColorSelected</key>
				<string>#F7F7F7</string>
				<key>BGButtonColorDisable</key>
				<string>#000000</string>
			</dict>
			<key>FontSize</key>
			<dict>
				<key>FontSizeNormal</key>
				<string>17</string>
				<key>FontSizeMiddle</key>
				<string>15</string>
				<key>FontSizeSmall</key>
				<string>13</string>
			</dict>
			<key>SpaceSize</key>
			<dict/>
		</dict>
	</dict>
	<key>MineCenter</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>我的沪币</string>
				<key>imageName</key>
				<string>ic_mymoney</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>好友动态</string>
				<key>imageName</key>
				<string>ic_me_friendspost</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我的订单</string>
				<key>imageName</key>
				<string>ic_me_orderlist</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我的评论</string>
				<key>imageName</key>
				<string>ic_me_mycomment</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我的收藏</string>
				<key>imageName</key>
				<string>ic_me_fav</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我的订阅</string>
				<key>imageName</key>
				<string>ic_me_subscribe</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我要爆料</string>
				<key>imageName</key>
				<string>ic_me_baoliao</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>系统消息</string>
				<key>imageName</key>
				<string>ic_me_sysmsg</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
	</array>
	<key>Setting</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>推送通知</string>
				<key>accessoryView</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>title</key>
				<string>使用帮助</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
			<dict>
				<key>title</key>
				<string>关于我们</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
			<dict>
				<key>title</key>
				<string>版本更新</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>退出登录</string>
				<key>accessoryView</key>
				<string>nil</string>
			</dict>
		</array>
	</array>
	<key>AccountSetting</key>
	<array>
		<dict>
			<key>title</key>
			<string>编辑资料</string>
			<key>imageName</key>
			<string></string>
			<key>accessoryView</key>
			<string>arrow</string>
		</dict>
	</array>
	<key>EditMineProfile</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>头像</string>
				<key>accessoryView</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>昵称</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
			<dict>
				<key>title</key>
				<string>性别</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
			<dict>
				<key>title</key>
				<string>生日</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>个人简介</string>
				<key>accessoryView</key>
				<string>niubi</string>
			</dict>
		</array>
	</array>
	<key>ServerAddressURL</key>
	<string>http://192.168.0.122:8796/ubirthTest</string>
</dict>
</plist>
