<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>Title</key>
		<string>默认主题</string>
		<key>TextColor</key>
		<dict>
			<key>WhiteDivider</key>
			<string>#FFFFFF1F</string>
			<key>WhiteHint</key>
			<string>#FFFFFF4D</string>
			<key>WhiteSecondary</key>
			<string>#FFFFFFB3</string>
			<key>WhiteNormal</key>
			<string>#FFFFFFFF</string>
			<key>BlackDivider</key>
			<string>#0000001F</string>
			<key>BlackHint</key>
			<string>#00000042</string>
			<key>BlackSecondary</key>
			<string>#0000008A</string>
			<key>BlackNormal</key>
			<string>#000000DE</string>
			<key>Black87</key>
			<string>#212121</string>
			<key>TextColorPrimary</key>
			<string>#1a1a1a</string>
			<key>TextColorPrimaryDark</key>
			<string>#303F9F</string>
			<key>TextColorAccent</key>
			<string>#03AEEF</string>
			<key>TextColorSecondary</key>
			<string>#9b9b9b</string>
			<key>TextColorDisable</key>
			<string>#d8d8d8</string>
			<key>TextColorNavigation</key>
			<string>#FFFFFF</string>
			<key>TextColorLoginPrimary</key>
			<string>#000000</string>
			<key>TextColorLoginSecondary</key>
			<string>#000000</string>
			<key>TextColorLoginDisable</key>
			<string>#000000</string>
			<key>BGTextFiledColorLogin</key>
			<string>#000000</string>
			<key>TextColorButtonNormal</key>
			<string>#FFFFFF</string>
			<key>TextColorButtonHighlight</key>
			<string>#F59C01</string>
			<key>TextColorButtonDisable</key>
			<string>#6EC742</string>
			<key>TextColorButtonSelected</key>
			<string>#6EC742</string>
			<key>TextColorTabberNormal</key>
			<string>#9b9b9b</string>
			<key>TextColorTabberSelected</key>
			<string>#1252B9</string>
		</dict>
		<key>BackgroundColor</key>
		<dict>
			<key>MainColor</key>
			<string>#1252B9</string>
			<key>BGColorPrimary</key>
			<string>#F2EEEE</string>
			<key>BGColorSecondary</key>
			<string>#1A1A1A</string>
			<key>BGButtonColorNormal</key>
			<string>#D0021B</string>
			<key>BGButtonColorHighlight</key>
			<string>#F7F7F7</string>
			<key>BGButtonColorSelected</key>
			<string>#F7F7F7</string>
			<key>BGButtonColorDisable</key>
			<string>#000000</string>
		</dict>
		<key>FontSize</key>
		<dict>
			<key>FontSizeNormal</key>
			<string>17</string>
			<key>FontSizeMiddle</key>
			<string>15</string>
			<key>FontSizeSmall</key>
			<string>13</string>
		</dict>
		<key>SpaceSize</key>
		<dict/>
	</dict>
	<key>Night</key>
	<dict>
		<key>title</key>
		<string>夜间主题</string>
		<key>TextColor</key>
		<dict>
			<key>WhiteDivider</key>
			<string>#FFFFFF1F</string>
			<key>WhiteHint</key>
			<string>#FFFFFF4D</string>
			<key>WhiteSecondary</key>
			<string>#FFFFFFB3</string>
			<key>WhiteNormal</key>
			<string>#FFFFFFFF</string>
			<key>BlackDivider</key>
			<string>#0000001F</string>
			<key>BlackHint</key>
			<string>#00000042</string>
			<key>BlackSecondary</key>
			<string>#0000008A</string>
			<key>BlackNormal</key>
			<string>#000000DE</string>
			<key>Black87</key>
			<string>#212121</string>
			<key>TextColorPrimary</key>
			<string>#1a1a1a</string>
			<key>TextColorPrimaryDark</key>
			<string>#303F9F</string>
			<key>TextColorAccent</key>
			<string>#03AEEF</string>
			<key>TextColorSecondary</key>
			<string>#9b9b9b</string>
			<key>TextColorDisable</key>
			<string>#d8d8d8</string>
			<key>TextColorNavigation</key>
			<string>#FFFFFF</string>
			<key>TextColorLoginPrimary</key>
			<string>#000000</string>
			<key>TextColorLoginSecondary</key>
			<string>#000000</string>
			<key>TextColorLoginDisable</key>
			<string>#000000</string>
			<key>BGTextFiledColorLogin</key>
			<string>#000000</string>
			<key>TextColorButtonNormal</key>
			<string>#FFFFFF</string>
			<key>TextColorButtonHighlight</key>
			<string>#F59C01</string>
			<key>TextColorButtonDisable</key>
			<string>#6EC742</string>
			<key>TextColorButtonSelected</key>
			<string>#6EC742</string>
			<key>TextColorTabberNormal</key>
			<string>#9b9b9b</string>
			<key>TextColorTabberSelected</key>
			<string>#1252B9</string>
		</dict>
		<key>BackgroundColor</key>
		<dict>
			<key>MainColor</key>
			<string>#1252B9</string>
			<key>BGColorPrimary</key>
			<string>#F2EEEE</string>
			<key>BGColorSecondary</key>
			<string>#1A1A1A</string>
			<key>BGButtonColorNormal</key>
			<string>#D0021B</string>
			<key>BGButtonColorHighlight</key>
			<string>#F7F7F7</string>
			<key>BGButtonColorSelected</key>
			<string>#F7F7F7</string>
			<key>BGButtonColorDisable</key>
			<string>#000000</string>
		</dict>
		<key>FontSize</key>
		<dict>
			<key>FontSizeNormal</key>
			<string>17</string>
			<key>FontSizeMiddle</key>
			<string>15</string>
			<key>FontSizeSmall</key>
			<string>13</string>
		</dict>
		<key>SpaceSize</key>
		<dict/>
	</dict>
</dict>
</plist>
